.container {
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}

.container p {
    font-size: 1.3em;
    font-weight: 600
}

.container span {
    font-size: 1.2em;
}