/* /* 
    Choose the tag to style (the selector)
    add styling. (Properties and values)

    Choisir la balise a styliser.(Le selecteur)
    Ajouter le style. (Proprietes et valeurs)

*/

/*
* {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
}

p {
    color: green;
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

i {
    color: blue;
    margin-right: 25px;
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 6px;
    margin: 20px;
}

#unique_paragraph {
    font-size: 20px;
    color: orange;
}

/* Adding animation 
#anim_btn {
    animation: translate_world 2s infinite ease-in-out;
}
*/
/*
@keyframes translate_world {
    0% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(20vw);
    }
}



 */
